body{
    margin-left:50px;
    margin-right:100px;
    background-image:url(Background.jpg);
    background-position:center;
    background-attachment: fixed;

}
img{
    height:95px;
    width:95px;
    border-radius:50%;
    float:right;
    position:relative;
    border-color:lightgreen;
    border-style:outset;
}
#name1{
    padding-top:10px;
}
hr{
    box-shadow:2px 2px 2px skyblue;
}
h1{
    font-variant: small-caps;
}
.p1{
    padding-left:20px;
}
a{
    padding-left:20px;
}
h1:hover{
    text-shadow: 2px 2px 2px lightgoldenrodyellow;
}
img:hover{
    border-style:outset;
    border-color:lightgreen;
    box-shadow: 3px 2px 2px lightgreen;
}
